.container {
    max-width: 550px;
    height: 500px;
    margin: auto;
    margin-top: 35px;
    border-radius: 12px;
    background-color:  #130754;
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
}
.city{
    width: 350px;
    padding: 0px 25px;
    height: 40px;
    background-color: #ebfffc;
    color: #626262;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400
}
.search_icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: #ebfffc;
   border-radius: 40px;
   cursor: pointer;
}
.weather-image{
    display: flex;
    justify-content: center;
}

.weather-temp, .weather-location, .country-location{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.data-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 28px;
    font-weight: 400p;
}
.text{
    font-size: 12px;
    font-weight: 400;
}